body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
textarea,
p,
blockquote,
th,
td,
input,
select,
button {
  margin: 0;
  padding: 0;
}

fieldset,
img {
  border: 0 none;
}

dl,
ul,
ol,
menu,
li {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

input,
select,
textarea,
button {
  font-size: 100%;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  -webkit-text-size-adjust: none;
}

input:checked[type="checkbox"] {
  background-color: transparent;
  -webkit-appearance: checkbox;
  appearance: checkbox;
}

input[type="text"],
input[type="password"],
input[type="submit"],
input[type="search"],
input[type="tel"],
input[type="email"],
html input[type="button"],
input[type="reset"] {
  border-radius: 0;
  -webkit-appearance: none;
  appearance: none;
}

input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
  appearance: none;
}

html,
body {
  font-size: 0.625rem;
}

body,
input,
select,
textarea,
button {
  font-family: "Noto Sans Korean", -apple-system, BlinkMacSystemFont,
    "Malgun Gothic", "맑은 고딕", "Apple SD Gothic Neo", "Segoe UI", "Roboto",
    "Helvetica Neue", "Arial, Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol", sans-serif;
  line-height: 1.5;
  color: #000;
}

button {
  cursor: pointer;
}

a {
  color: #000;
  text-decoration: none;
}

a:active,
a:hover {
  text-decoration: none;
}

address,
caption,
cite,
code,
dfn,
em,
var {
  font-weight: normal;
  font-style: normal;
}

img {
  vertical-align: top;
}

.screen_out {
  overflow: hidden;
  position: absolute;
  width: 0;
  height: 0;
  line-height: 0;
  text-indent: -999.9rem;
}

.ir_wa {
  display: block;
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 100%;
  z-index: -1;
}

/* .outer_half {
  width: 100%;
}

.outer_half .inner_half {
  display: inline-block;
  width: 50%;
  text-align: right;
  vertical-align: middle;
}

.outer_half .inner_half:first-child {
  text-align: left;
} */

.outer_cell {
  display: table;
  width: 100%;
  height: 100%;
}

.inner_cell {
  display: table-cell;
  vertical-align: middle;
}

.container {
  padding: 1.2rem;
}

.footer_minimal {
  padding-bottom: 4rem;
  text-align: center;
}

.footer_minimal .text_copyright_minimal {
  font-size: 1.1rem;
  color: #757575;
}

.layer_wrapper {
  overflow: auto;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1000;
  padding: 1.2rem;
}

.inner_layer {
  position: relative;
  z-index: 10;
  padding: 1.2rem;
  border-radius: 0.4rem;
  background-color: #fff;
}

.layer_wrapper .outer_half {
  height: 100%;
}

.layer_wrapper .text_layer {
  font-size: 1.4rem;
}

/* .dimmed {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  background-color: #000;
  opacity: 0.5;
} */

.___swiper___ {
  overflow: hidden;
  margin: 2rem;
  border-radius: 0.8rem;
}
.___swiper___ .swiper-slide {
  overflow: hidden;
  border-radius: 0.8rem;
}
.___swiper___ .image_common {
  width: 100%;
}

/*
.boundary {
  height: 1rem;
  border: 0 none;
  box-sizing: border-box;
  background-color: #f7f9fa;
}

.list_global {
  margin-left: -1.6rem;
  padding: 0 1.6rem;
}

.list_global .item_global {
  display: inline-block;
  width: 50%;
  padding-left: 1.6rem;
  box-sizing: border-box;
  vertical-align: middle;
}

.box_metadata {
  margin-top: 1.6rem;
  padding: 1.6rem 1.2rem;
  border-top: 0.1rem solid #f1f1f1;
}

.box_metadata .button_gravity {
}

.list_metadata {
  margin: -1.2rem 0 0 -1.2rem;
  font-size: 0;
}

.list_metadata .item_metadata {
  display: inline-block;
  width: 25%;
  padding: 1.2rem 0 0 1.2rem;
  box-sizing: border-box;
  vertical-align: top;
  text-align: center;
  word-break: keep-all;
}

.icon_common {
  display: block;
  width: 4rem;
  height: 4rem;
  margin: 0 auto;
  background-color: #f1f1f1;
}

.list_metadata .text_metadata {
  display: block;
  margin-top: 0.4rem;
  font-size: 1.1rem;
}

.read_contents .button_gravity {
  display: block;
  width: 100%;
  margin-top: 2rem;
  padding: 1.4rem 0;
  border: 0.1rem solid #35c5f0;
  border-radius: 0.4rem;
  box-sizing: border-box;
  background-color: #fff;
  color: #35c5f0;
  line-height: 1;
}

.read_contents .button_gravity .text_local {
  display: inline-block;
  font-weight: 700;
  font-size: 1.4rem;
  vertical-align: middle;
}

.read_contents .button_gravity.fill {
  background-color: #35c5f0;
}

.read_contents .button_gravity.fill .text_local {
  color: #fff;
}

.content {
  padding: 1.6rem 1.2rem;
  font-size: 1.4rem;
}
*/
